<a href="https://colab.research.google.com/github/suprajaarthi/Python-Basics/blob/main/Python_Batch_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=50
print(a)

50

In [ ]:
print(type(a))

<class 'int'>

In [4]:
a=50
if a==500:
  print("True")
else:
  print("False")

False

In [ ]:
#Logical error
n=int(input())
c=0
for i in range(n):
  if n%i==0:
    c+=1

print(c)

100

ZeroDivisionError: ignored

In [ ]:
a=5
print(id(a))
a=50
print(id(a))

10914624
10916064

In [ ]:
#invalid keywords
# _a=100
# b%6=100
# c=100
while=0
print(while)

SyntaxError: ignored

In [ ]:
azAZ_=10
print(azAZ_)

10

In [ ]:
a=5
print(type(a))
b=5.0
print(type(b))
c=5+3j
print(type(c))
d=True
e=False
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>

In [ ]:
fruits=["Apple","Carrot"]
print(type(fruits))
animals=("Cat","Bat","Donkey",1,2)
print(animals)
print(type(animals))
s={"A","B"}
print(type(s))
q={"A","A","B",1,2}
print(q)
dict1={1:"Ant",2:"Bat"}
print(type(dict1))

<class 'list'>
('Cat', 'Bat', 'Donkey', 1, 2)
<class 'tuple'>
<class 'set'>
{1, 2, 'B', 'A'}
<class 'dict'>

In [ ]:
#string
s=input()
print(s)

apple
apple

In [ ]:
#int
a=int(input())
print(a)

5
5

In [ ]:
fl=float(input())
print(fl)

9.9999
9.9999

In [ ]:
l=list(map(int,input().split()))
print(l)

1 2 3 4
[1, 2, 3, 4]

In [ ]:
l=list(map(str,input().split()))
print(l)

a b cat
['a', 'b', 'cat']

In [ ]:
t=tuple(map(int,input().split()))
print(t)

100 200 300
(100, 200, 300)

In [ ]:
s=set()
s.add('a')
s.add('b')
print(s)

{'b', 'a'}

In [ ]:
l=[]
l.append('apple')
l.append('beetroot')
l.insert(2,'zebra')
print(l)

['apple', 'beetroot', 'zebra']

In [ ]:
c=5+3j
print(type(c))

<class 'complex'>

In [ ]:
n=5
if n==5:
  print(True)
else:
  print(False)

True

In [ ]:
a=5
print(a)
del a
print(a)

5

In [ ]:
s="Batman"
print(s[0])

B

In [ ]:
print(s[-1])

n

In [ ]:
print(s[3:6])

man

In [ ]:
s="APPLE"
print(s.lower())

apple

In [ ]:
s="apple"
s=s.upper()
print(s)

APPLE

In [ ]:
animal="Donkey"
print(animal[::-1])

yeknoD

In [ ]:
def add():
  #defining my var 
  a=20
  b=30
  c=a+b 
  print("The sum is",c)


add()

The sum is 50

In [ ]:
x="first var"
print(x)
def main():
  global x
  print(x)
  x="2nd var"
  print(x)

main()
print(x)

first var
first var
2nd var
2nd var

In [ ]:
n=int(input())
print(n)

5
5

In [ ]:
s=input()
print(s)

yuvasri
yuvasri

In [ ]:
f=float(input())
print(f)

0.7777
0.7777

In [ ]:
#list 
l=['cadbury','snickers','dairymilk']
l.append('milkybar')
print(l)

['cadbury', 'snickers', 'dairymilk', 'milkybar']

In [ ]:
#tuple is not flexible 
l=('a','b','c')
l.append('d')
print(l)

AttributeError: ignored

In [ ]:
s={1,2,1,3}
print(s)

{1, 2, 3}

In [ ]:
a=5
print(id(a))
a=50
print(id(a))

10914624
10916064

In [ ]:
abc=50
ABC=55
aBc=500
print(abc,ABC,aBc)

50 55 500

In [ ]:
a=50
A=500
if(A==50):
  print("True")

In [ ]:
_a=500
# abb%%%=90
print(_a)
print(type(_a))

500
<class 'int'>

In [ ]:
d={1:"Dincy",2:"Sai",3:"Harini"}
print(type(d))

<class 'dict'>

In [ ]:
c=5+3j 
print(type(c))

<class 'complex'>

In [ ]:
s1="a"
s2="Karthik"
s3="Yuvasree$$111"
print(type(s1),type(s2),type(s3))

<class 'str'> <class 'str'> <class 'str'>

In [ ]:
s=True
f=False
print(type(s))
print(type(f))

<class 'bool'>
<class 'bool'>

In [ ]:
s=1+"a"
print(s)

TypeError: ignored

In [ ]:
string ="Harini"
print(string[-3:])
print(string[0])
print(string[-1])
#string[startingindex:lastindex-1]
print(string[1:4])

ini
H
i
ari

In [ ]:
l=list()
l=[]
l.append(1)
print(1)

1

In [ ]:
d={1:"karthi"}
s=set()
s.add('Yuv')
print(s)

{'Yuv'}

In [ ]:
# a+b=4
#Addition 
a=12
b=5
print(a+b)
#Subtraction 
print(a-b)
print(b-a)
#Multiplication 
print(a*b)
#Division 
print(a/b)
#
print(a//b)
#remainder
print(a%b)

17
7
-7
60
2.4
2
2

In [ ]:
#Assignment Operators 
a=6
b=7
a+=6
# a=a+6
print(a)
b-=1
# b=b-1
print(b)
c=10
c*=5
# c=c*5
print(c)
fruit1='apple'
fruit2='appl2e'
if(fruit1!=fruit2):
  print("Yes!Yummy!!!")

num1=100
num2=500
if num1<=num2  :
  print("num1 is lesser")

if not num1:
  print("True")
else:
  print("False")
# if (num2<=num1):
#   print("num2 is lesser")

# if(num1!=num2):
#   print("Not Equal")

12
6
50
Yes!Yummy!!!
num1 is lesser
False

In [ ]:
x=["apple","banana"]
y=["apple","banana"]
z=x 
print(x is z)
print(x is y)
print(x==y)

True
False
True

In [ ]:
z="apple"
if 'p' in z:
  print("True")

l=["Cat","Dog"]
if "Cat" in l:
  print(True)

if "Bat" not in l:
  print(False)

True
True
False

In [ ]:
#bin to int
s=input()
print(int(s,2))
print(int(s,6))

10
2
6

In [ ]:
#int to bin 
n=int(input())
b=bin(n)
print(b)
# c="cat"
print(c[1:])
print(b[2:])

2
0b10
at
10

In [ ]:
a=10
binary=bin(a)
binary=str(binary[2:])
print(binary)
num2=2
binary2=bin(num2)
binary2=str(binary2[2:])
print(binary2)
print(a|num2)
#1010
#0010
#1010
print(int('1010',2))

1010
10
10
10

In [ ]:

num=5

leftshift=num<<1
rightshift=num>>1

num_binary=bin(num)
lef_binary=bin(leftshift)
right_binary=bin(rightshift)

print(num_binary,lef_binary,right_binary)
#0101 1010 0010 

complement=~num
comp_binary=bin(complement)
# str(bin(complement)[2:])
print(bin(num))
print(comp_binary)

2
10
101
0b101 0b1010 0b10
0b101
-0b110

In [ ]:
#if condition 
a="It rains"
if a:
  print("No need to water plants")

No need to water plants

In [ ]:
#if - else
a="It's dry today"
if a=="It rains":
  print("No need to water plants")
else:
  print("Water plants by today")

Water plants by today

In [ ]:
# if elif else
signal="Pink"
if signal=="Green":
  print("Go")
elif signal=="Yellow":
  print("Wait")
elif signal=="Pink":
  print("Invalid")
else:
  print("Stop")

Invalid

In [ ]:
#nested if 
age=23
if age>13 and age<21:
  print("I'm a teenager")
else:
  if age>21:
    print("I'm eligible to be married")
  else:
    print("Nope")

I'm eligible to be married

In [ ]:
#Ternary onsition
a,b=5,10
print("The number is small" if a<b else print("The number is large"))

The number is small

In [ ]:
n=4
while n<10:
    n=n*n
    print(n)

16

In [ ]:
x="apple"
y="apple"
z=x
# if x is y:
#   print("Yes")
# if x==z:
#   print("Yes")
l1=["Hello","Wello"]
l2=["Hello","World"]
l3=l1
if l1!=l2:
  print("Yes")

# if l1 is l3:
#   print("Yes")
# else:
#   print("No")

Yes

In [ ]:
x="apple"
if 'a' in x:
  print("True")

True

In [ ]:
print("i ate 1 apple")
# n=10
# n=str(n)
print("i ate 2 apple")
for i in range(10):
  print("I eat"+str(i)+"apples")

i ate 1 apple
i ate 2 apple
I eat0apples
I eat1apples
I eat2apples
I eat3apples
I eat4apples
I eat5apples
I eat6apples
I eat7apples
I eat8apples
I eat9apples

In [ ]:
chocolates=["Milky","Dairy","5star"]
for i in chocolates:
  print(i,end=",")

Milky,Dairy,5star,

In [ ]:
str="Sakthi"
for i in str:
  print(i)

S
a
k
t
h
i

In [ ]:
tuple=("Cat","Bat","Dog")
for i in tuple:
  print(i)

Cat
Bat
Dog

In [ ]:
d={1:"Dincy",2:"Harini",3:"Karthi"}
for i in d:
  print(d[i])

Dincy
Harini
Karthi

In [ ]:
# range(stindex,lastindex-1,incrementingvalue)
# for i in range(100):
#   print(i,end=" ")

# for i in range(50,100):
#   print(i,end=" ")

for i in range(50,100,2):
  print(i,end=" ")

50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
weeks=["sun","mon","tue","wed","thu","fri","sat","sun2"]
for i in weeks:
  # print(i)
  if i=="sat":
    continue
  print(i)

sun
mon
tue
wed
thu
fri
sun2

In [ ]:
weeks=["sun","mon","tue","wed","thu","fri","sat","sun2"]
for i in weeks:
  # print(i)
  if i=="thu":
    # break
    pass
  print(i)

sun
mon
tue
wed
thu
fri
sat
sun2

In [ ]:
i=0
while(i<11):
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i=0
while i<9:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6
7
8
9

In [ ]:
i=0
while i<9:
  i+=1
  if i==3:
    break
  print(i)

1
2

In [ ]:
x=[1,2,3,4,5]
for i in x:
  if i==3:
    break
  print(i)

print("The End")

1
2
The End

In [ ]:
lis=[1,2,3,4,5]

# for i in 
# eg="abc"
# print(eg[::-1])
for i in range(4,0,-1):
  print(lis[i])

5
4
3
2

In [ ]:
student_name="Sakthi"
marks={"Sakthi":25,"Karthik":100,"Yuvasree":85,"Harini":100,}
for i in marks:
  if i==student_name:
    print(marks[i])
    break
  else:
    print("The student is not found")

25

In [ ]:
l=[]
for i in range(101):
  l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
for i in range(1,99,2):
  print(l[i])

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97

In [ ]:
string="apple"
print(string.title())
print(string.capitalize())
favourite="banana"
print(favourite.upper())
animal="BAT"
print(animal.lower())
counter=0
for i in string:
  if i=='p':
    counter+=1
print(counter)
counter2=string.count('p')
print(counter2)

Apple
Apple
BANANA
bat
2
2

In [ ]:
indexofa=favourite.index('a')
print(indexofa)
lastindex=favourite.rindex('a')
print(lastindex)

1
5

In [5]:
favourite="ant"
findz=favourite.find('z')
print(findz)
indexofa=favourite.index('a')
print(indexofa)

-1
0

In [ ]:
a="67800123"
if a.isnumeric():
  print("True")
else:
  print("False")

True

In [ ]:
a="apple"
if a.islower():
  print("Yeah lowercase")
elif a.isupper():
  print("Yeah Uppercase")
else:
  print("Nope")

Yeah lowercase

In [ ]:
sentence="Welcome#to#today's#class"
result=sentence.split("#")
print(result)

['Welcome', 'to', "today's", 'class']

In [ ]:
tuple=("Dincy","Karthik","Harini")
x="Best Students".join(tuple)
print(x)

DincyBest StudentsKarthikBest StudentsHarini

In [ ]:
favouriteanimal="                    Goldy                  "
# favouriteanimal=favouriteanimal.lstrip()
# favouriteanimal=favouriteanimal.rstrip()
favouriteanimal=favouriteanimal.strip()

print("Of all animals "+favouriteanimal+" is my favourite")

Of all animals Goldy is my favourite

In [ ]:
x="Bagavathy"
if x.startswith("b"):
  print(x)
else:
  print("Nope!!!")

if x.endswith("y"):
  print("Yes")
else:
  print("No")

Nope!!!
Yes

In [ ]:
# print("Hello")
def my_func():
  print("Heyyy Guyz")

my_func()

Hello

In [ ]:
def myfunc(fname):
  print("Hello "+fname)

myfunc("Bagavathy")
myfunc("Harini")
myfunc("Yuvjri")

HelloBagavathy
HelloHarini
HelloYuvjri

In [ ]:
def threepara(fname,lname,tname):
  print("Hi "+fname+" "+lname+" "+tname )

# twopara("supraja","arthi")
threepara("sakthi","siva","parvathi")

Hi sakthi siva parvathi

In [ ]:
# a=5
# b=6
# print(a+b)
def add(a,b):
  # print(a+b)
  return a+b

print(add(5,6))

11

In [ ]:
#int to bin
n=input()
print(int(n,2))
print(int(n,6))

10
2
6

In [ ]:
#bin to int 
n=int(input())
binary=bin(n)
n2=int(input())
binary2=bin(n2)
print(binary[2:])

print(binary2[2:])
andbin=n&n2
print(andbin)
orbin=n|n2
xorbin=n^n2
leftshift=n<<1
rightshift=n>>1
complement=~n
print(xorbin)
#1010
#0101
print(bin(leftshift))
print(bin(rightshift))
print(complement)

2
5
10
101
0
7
0b100
0b1
-3

In [ ]:
x="Bagavathy"
if x.startswith("b"):
  print(x)
else:
  print("Nope!!!")

if x.endswith("y"):
  print("Yes")
else:
  print("No")

Nope!!!
Yes

In [ ]:
l1=[1,2,3]
l2=[4,5,6]
for i in l1:
  l2.append(i)
print(l2)

[4, 5, 6, 1, 2, 3]

In [ ]:
#list